.kZQvlq {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4.5rem 0px;
    background: rgb(36, 40, 47);
    min-height: calc(50vh - 60px);
    flex-wrap: wrap;
}
.iUltZj {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 50%;
    flex-direction: column;
}
.jHMBqe {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.gzCUdp {
    flex: 2 1 0%;
    width: 100%;
    text-align: center;
}
.ldeZQp {
    flex: 3 1 0%;
    position: relative;
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.ldeZQp .section:first-child {
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.ldeZQp .section {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.ldeZQp a {
    color: rgb(245, 245, 245);
}
.ldeZQp .status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: capitalize;
}
.ldeZQp span, .ldeZQp div {
    margin: 0px;
    padding: 0px;
}
.ldeZQp span {
    font-size: 16px;
    font-weight: 500;
}
.ldeZQp .status_icon_red {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;
}
.ldeZQp .text-gray {
    color: rgb(158, 158, 158);
}
.ldeZQp span {
    font-size: 16px;
    font-weight: 500;
}
.ldeZQp span, .ldeZQp div {
    margin: 0px;
    padding: 0px;
}
.ldeZQp a {
    color: rgb(245, 245, 245);
}
.ldeZQp .status__icon_green {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}
.h2bold {
    font-size: 18px;
    font-weight: 900;
}